body{
	min-width: 400px;
	min-height: 600px;

	max-width: 600px;
	max-height: 660px;
	margin: 0;
	background: #969696;
	border: 1px solid;
}
#container_menu{
	margin-left: -18px;
	margin-top: 50px;
	list-style: none;
}
#base-games{
	/*width: 500px;*/
}
/********************************************************************************************************/
/*																										*/
/*												modal style												*/
/*																										*/
/********************************************************************************************************/

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
	}
	
	.reveal-modal {
		visibility: hidden;
		display: none;
		height: 400px;
		top: 65px;
		width: 73%;
		background: #eee url('../image/modal-gloss.png') no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/


/********************************************************************************************************/
/*																										*/
/*												Menu style												*/
/*																										*/
/********************************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#menu_top {
	background: #c2c0c0;
	width: auto;
	position: fixed;
	z-index: 10;
	top: 0;
}
#menu_top ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
	zoom: 1;
}
#menu_top ul:after {
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
#menu_top ul li {
	float: left;
	display: block;
	padding: 0;
	width: 25%;
}
#menu_top ul li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	-webkit-transition: color .25s;
	transition: color .25s;
}
#menu_top ul li a:hover {
	color: #474747;
}
#menu_top ul li a:hover:before {
	width: 100%;
}
#menu_top ul li a:after {
	content: '';
	display: block;
	position: absolute;
	right: -3px;
	top: 19px;
	height: 6px;
	width: 6px;
	background: #ffffff;
	opacity: .5;
}
#menu_top ul li a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #474747;
	-webkit-transition: width .25s;
	transition: width .25s;
}
#menu_top ul li.last > a:after,
#menu_top ul li:last-child > a:after {
	display: none;
}
#menu_top ul li.active a {
	color: #474747;
}
#menu_top ul li.active a:before {
	width: 100%;
}

/********************************************************************************************************/
/*																										*/
/*												Grid System												*/
/*																										*/
/********************************************************************************************************/
.games{
	margin-top: 10px;
	width: 185px;
	height: 100px;
	background: green;
	border: 1px solid black;
}
.games.double{
	margin: 10px 0 0;
	width: 380px;
	height: 100px;
	background: red;
	border: 1px solid black;
}
.cover-game_big{

}
.cover-game{

}
/********************************************************************************************************/
/*																										*/
/*												Input style												*/
/*																										*/
/********************************************************************************************************/

input{
	width: 96%;
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

input:hover, input:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

/********************************************************************************************************/
/*																										*/
/*												Scroll Bar												*/
/*																										*/
/********************************************************************************************************/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(107, 107, 107, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(107, 107, 107, 0.3); 
}